@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}


<div class="col-8">
<h3>@CurrentPage.Name</h3>
    @if (TempData["success"] == null)
    {
        // display the form
        @Html.Action("Index", "ContactFormSurface")
    }
    else
    {
        <p>Thank you for contacting us. We’ll be in touch soon!</p>
    }
</div>