@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<h2>@CurrentPage.Name</h2>
<div class="container">

    @if (TempData["success"] == null)
    {
        // display the form
        @Html.Action("Index", "ContactFormSurface")
    }
    else
    {
        <p>Thank you for contacting us. We’ll be in touch soon!</p>
    }
</div>