.form-inline.my-2.my-lg-0 {
    display: none;
}

ul li {
    margin-right: 3vw;
    list-style: none;
}

img {
    width: 100%;
}


.field-validation-error {
    color: red;
}

.page-footer {
    background-color: #3C3E40;
    color: #ffffff;
}

    .page-footer ul li a {
        color: #eae6e6;
    }

        .page-footer ul li a:hover {
            color: #5E87FC;
        }
